# macOS
.DS_Store
**/.DS_Store

# VSCode
.vscode/

# Test
Test/

# Vorlagen
vorlagen/

# Build
output/
output/pdf/

# Quarto
.quarto/
**/.quarto/
_book/
quarto/_book/
**/*_files/
**/*.quarto_ipynb

# LaTeX
*.aux
*.log
*.fls
*.fdb_latexmk
*.loa
*.lol
*.lot
*.toc
*.blg
*.bbl